/**
 * font
 */
 
@font-face{
  font-family:"Iropke Batang","Georgia";
  src:url('/fonts/IropkeBatangM.eot');
  src:url('/fonts/IropkeBatangM.eot?#iefix') format('embedded-opentype'),
  url('/fonts/IropkeBatangM.woff') format('woff'),
  url('/fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}