---
layout: default
---
<div class="post">
  <div class="post-nav">
    {% if post.next.url %}
      <a href="{{ post.next.url }}">&laquo; Prev</a>
    {% endif %}
    {% if post.previous.url and post.next.url %}
      |
    {% endif %}
    {% if post.previous.url %}
      <a href="{{ post.previous.url }}">Next &raquo;</a>
    {% endif %}
  </div>

  <header class="post-header">
    <h1 class="post-title">{{ post.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
